<p-menubar [model]="items" class="bg-gray-800 text-white">
  <ng-template pTemplate="start">
    <div class="flex items-center cursor-pointer">
      <img src="leaf.png" alt="Logo" class="h-10 mr-3" routerLink="/">
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center justify-center cursor-pointer">
      <p-avatar [image]="selectedUser.image" shape="circle" size="large" (click)="userMenu.toggle($event)"></p-avatar>
      <p-tieredMenu class="bg-gray-900" #userMenu [model]="userMenuItems" [popup]="true" class="bg-gray-800 text-white"/>
    </div>
  </ng-template>
</p-menubar>
