
:host  ::ng-deep .p-menubar{
  @apply bg-gray-900 border-gray-900 text-white rounded-none	;
  border-bottom: 1px grey;
  border-style: solid;

}

::ng-deep .p-menuitem-link,
::ng-deep .p-menuitem-icon,
::ng-deep .p-menuitem-text
{
  @apply text-white;
}

::ng-deep .p-menuitem-content:not(.p-disabled):hover,
::ng-deep .p-tieredmenu:focus{
  @apply bg-transparent rounded-lg;
}

::ng-deep .p-menuitem-content:not(.p-disabled):hover .p-menuitem-text,
::ng-deep .p-menuitem-content:not(.p-disabled):hover .p-menuitem-icon,
::ng-deep .p-menuitem-content:not(.p-disabled):hover .p-menuitem-link {
  @apply text-blue-500;
}

::ng-deep .p-tieredmenu{
  @apply bg-gray-900 text-white;
}

::ng-deep  .p-menuitem-content {
  background-color: initial;
}

.fixed-navbar {
  @apply fixed top-0 left-0 w-full z-50 items-center;
}

